<footer class="footer p-5 text-white position-relative mt-auto">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 footer__col-1 position-relative">
        <h5 class="fw-bold">Zrayeb Djerba</h5>
        <p class="mt-3">
          L'Association Zrayeb Djerba, située sur l'île pittoresque de Djerba,
          se dédie à la pêche et aux balades en mer. Elle offre des expériences
          uniques autour de Zrayeb
        </p>
        <div class="d-flex mt-3">
          <a
            class="link-light link-opacity-50-hover"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
          </a>
          <a
            class="ms-3 link-light link-opacity-50-hover"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
          </a>
          <a
            class="ms-3 link-light link-opacity-50-hover"
            href="https://twitter.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 mt-5 mt-md-0">
        <div class="row">
          <div class="col d-flex flex-column">
            <h5 class="fw-bold">Agence</h5>
            <a
              routerLink="/login"
              class="link-light link-opacity-50-hover link-underline-light link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover"
            >Login</a
            >
            <a
              routerLink="/add-balade"
              class="link-light link-opacity-50-hover link-underline-light mt-2 link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover"
            >Balades</a
            >
            <a
              routerLink="/calender"
              class="link-light link-opacity-50-hover link-underline-light mt-2 link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover"
            >Calendrier</a
            >
          </div>
          <div class="col d-flex flex-column">
            <h5 class="fw-bold">Support</h5>
            <a
              class="mt-2 link-light link-opacity-50-hover link-underline-light link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover"
              routerLink="/login"
            >Compte</a
            >
            <a
              class="mt-2 link-light link-opacity-50-hover link-underline-light link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover"
              routerLink="/add-balade"
            >Centre de support</a
            >
            <a
              class="mt-2 link-light link-opacity-50-hover link-underline-light link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover"
              routerLink="/calender"
            >FAQ</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
