<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <div class="header">
    <div>
      <div class="logo">Zrayeb à Djerba </div>
      <p>Groupement Zrayeb à Djerba </p>
      <div class="social-icons">
        <span>Facebook</span>
        <span>Twitter</span>
        <span>Instagram</span>
      </div>
    </div>
    <div class="menu">
      <div>
        <h3>Company</h3>
        <span>About Us</span>
        <span>News</span>
        <span>Careers</span>
        <span>How we work</span>
      </div>
      <div>
        <h3>Support</h3>
        <span>Account</span>
        <span>Support Center</span>
        <span>FAQ</span>
        <span>Accessibility</span>
      </div>
      <div>
        <h3>More</h3>
        <span>Covid Advisory</span>
        <span>Airline Fees</span>
        <span>Tips Quarantine Rules</span>
      </div>
    </div>
  </div>
</body>

</html>