.card-container {
    display: flex;
    justify-content: center;

}

.agenda-des-balades,
.agenda-des-balades * {
    box-sizing: border-box;
}

.agenda-des-balades {
    color: var(--color-text, #303972);
    text-align: left;
    font-family: var(--heading-heading-1-font-family, 'Poppins-Bold', sans-serif);
    font-size: var(--heading-heading-1-font-size, 36px);
    font-weight: var(--heading-heading-1-font-weight, 700);
    position: relative;
    width: 355.5px;
}



.sort,
.sort * {
    box-sizing: border-box;
}


.button,
.button * {
    box-sizing: border-box;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: right;
    width: 928.52px;
    position: relative;
    margin: auto;
    padding: 1%;
}

.sort {
    border-radius: 40px;
    border-style: solid;
    border-color: #5bb544;
    border-width: 2px;
    padding: 16px 43px 16px 43px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 207px;
    height: 60px;
    position: relative;
    box-shadow: var(--shadow-box-shadow, 0px 20px 50px 0px rgba(191, 21, 108, 0.05));
}

.content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.janvier {
    color: #5bb544;
    text-align: left;
    font-family: var(--text-text-regular-1-font-family, 'Poppins-Regular', sans-serif);
    font-size: var(--text-text-regular-1-font-size, 18px);
    font-weight: var(--text-text-regular-1-font-weight, 400);
    position: relative;
}

.dropdown {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    transform: translate(0px, 0px);
    overflow: visible;
}

._2024 {
    color: #5bb544;
    text-align: left;
    font-family: var(--text-text-regular-1-font-family, 'Poppins-Regular', sans-serif);
    font-size: var(--text-text-regular-1-font-size, 18px);
    font-weight: var(--text-text-regular-1-font-weight, 400);
    position: relative;
}

.dropdown2 {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    transform: translate(0px, 0px);
    overflow: visible;
}

.new-student-button {
    background: #5bb544;
    border-radius: 40px;
    padding: 16px 43px 16px 43px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 207px;
    height: 60px;
    position: relative;
    box-shadow: var(--shadow-box-shadow, 0px 20px 50px 0px rgba(191, 21, 108, 0.05));
}

.content2 {
    flex-shrink: 0;
    width: 172.31px;
    height: 27px;
    position: static;
}

.div {
    width: 16.24px;
    height: 16.16px;
    position: absolute;
    left: 17.34px;
    top: 21px;
    overflow: visible;
}

.reserver-balade {
    color: var(--color-white, #ffffff);
    text-align: left;
    font-family: var(--text-text-regular-1-font-family, 'Poppins-Regular', sans-serif);
    font-size: var(--text-text-regular-1-font-size, 18px);
    font-weight: var(--text-text-regular-1-font-weight, 400);
    position: absolute;
    left: 43.66px;
    top: 16.5px;
}