<app-navbar />

<div class="couverture">
    <div class="agenda-des-balades">
        Agenda des balades </div>
    <div class="button">

        <div class="sort">

            <div class="content">

                <div class="janvier">
                    Janvier </div>
                <svg class="dropdown" width="33" height="32" viewBox="0 0 33 32" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M27.1527 11.488L17.7127 21.952C17.3287 22.4 16.6247 22.4 16.2407 21.952L6.80071 11.488C6.19271 10.816 6.64071 9.72803 7.53671 9.72803L26.4167 9.72803C27.3127 9.72803 27.7607 10.816 27.1527 11.488Z"
                        fill="#5BB544" />
                </svg>
            </div>
        </div>
        <div class="sort">
            <div class="content">
                <div class="_2024">
                    2024 </div>
                <svg class="dropdown2" width="33" height="32" viewBox="0 0 33 32" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M27.1527 11.488L17.7127 21.952C17.3287 22.4 16.6247 22.4 16.2407 21.952L6.80071 11.488C6.19271 10.816 6.64071 9.72803 7.53671 9.72803L26.4167 9.72803C27.3127 9.72803 27.7607 10.816 27.1527 11.488Z"
                        fill="#5BB544" />
                </svg>
            </div>
        </div>
        <div class="new-student-button">
            <div class="content2">
                <svg class="div" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6.786 10.1647H0.821289V5.92941H6.786V0H11.0213V5.92941H17.0566V10.1647H11.0213V16.1647H6.786V10.1647Z"
                        fill="white" />
                </svg>
                <a class="reserver-balade" href="liste-balades" style="text-decoration: none !important;">
                    Reserver Balade </a>
            </div>
        </div>
    </div>


    <div class="card-container">
        <app-calenderchldren />
        <app-calenderchldrenR />
        <app-calenderchldrenW />
        <app-calenderchldrenW />
        <app-calenderchldrenW />
        <app-calenderchldrenW />
        <app-calenderchldrenW />


    </div>
    <div class="card-container">
        <app-calenderchldrenW />
        <app-calenderchldrenW />
        <app-calenderchldren />
        <app-calenderchldrenW />
        <app-calenderchldrenR />
        <app-calenderchldrenW />
        <app-calenderchldrenW />

    </div>
    <div class="card-container">
        <app-calenderchldrenW />
        <app-calenderchldrenW />
        <app-calenderchldren />
        <app-calenderchldrenW />
        <app-calenderchldrenW />
        <app-calenderchldrenW />
        <app-calenderchldrenR />
    </div>
    <div class="card-container">
        <app-calenderchldrenW />
        <app-calenderchldrenR />
        <app-calenderchldrenW />
        <app-calenderchldren />
        <app-calenderchldrenW />
        <app-calenderchldrenW />
        <app-calenderchldrenW />

    </div>
    <div class="card-container">
        <app-calenderchldrenW />
        <app-calenderchldrenW />
        <app-calenderchldren />
        <app-calenderchldrenR />
        <app-calenderchldrenW />
        <app-calenderchldrenW />
        <app-calenderchldrenW />

    </div>
</div>
